<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/produtos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

  <div class="mensagemsucessocadastro">
	{{#if mensagemcadastroproduto}}
        <div class="alert alert-success">{{mensagemcadastroproduto}}</div>
    {{/if}}
</div>


<div class="mensagemerrologin">
{{#if mensagemcadastroprodutoerro}}
        <div class="alert alert-danger">{{mensagemcadastroprodutoerro}}</div>
    {{/if}}

</div>




<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link h5" href="/">SimpliProd<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                <form class="form-inline">
                    <a href="/sair"><button class="btn btn-danger" type="button">Sair</button></a>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="adicionarbtn">
    <button class="btn-success btn-lg" id="myBtn">Adicionar</button>

<!-- Elemento de fundo para cobrir toda a tela -->
    <div class="modal-background" id="modalBackground"></div>

    <!-- O modal existente -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="formaddprodutos">
              <form action="/add-produtos" method="POST">
                <label for="adfadfadf">Produto:</label><br>
                <input type="text" id="adfadfadf" name="produtopost"><br><br>

                <label for="adfadfadf">Valor:</label><br>
                <input type="number" id="adfadfadf" name="valorpost"><br><br>

                <label for="fafafadf">Quantidade:</label><br>
                <input type="number" id="fafafadf" name="quantidadepost"><br><br>

                <label for="dgdsg">Fornecedor:</label><br>
                <input type="text" id="dgdsg" name="fornecedorpost"><br><br>

                <label for="fadfad">Descricao:</label><br>
                <input type="text" id="fadfad" name="descricaopost"><br><br>
                <div class="adicionarbtnmodal">
                <button>Adicionar</button>
                </div>
              </form>
            </div>
            
        </div>
    </div>



<div class="tabelaprodutos" style="margin-bottom: 500px;">
    <div class="container">
        <h2>Tabela de Produtos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>id</th>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                    <th>Fornecedor</th>
                    <th>Descricao</th>
                </tr>
            </thead>
            <tbody>
              {{#each produtos}}
              <tr>
              <td>{{id}}</td>
              <td>{{Produto}}</td>
              <td>{{Valor}}</td>
              <td>{{Quantidade}}</td>
              <td>{{Fornecedor}}</td>
              <td>{{Descricao}}   
                <form action="/apagar-produto" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <div class="lixeira">
            <button  type="submit" >
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
              </svg></button>
              </div></form></td>
           </tr> 
                <!-- Adicione mais linhas conforme necessário -->
                {{/each}}
            </tbody> 
           </div>
        </table>
    </div>
</div>




<!-- FOOTER COMECO -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Redes Sociais -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Esquerda -->
    <div class="me-5 d-none d-lg-block align-items-center" id="agradecimento">
      <span></span>
    </div>
    <!-- Esquerda -->
  </section>
  <!-- Redes Sociais -->

  <!-- Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>SimpliProd
          </h6>
          <p>
            Otimizacao de seu tempo!
          </p>
        </div>
        <!-- Colunas -->


       
        <!-- Colunas -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Links Uteis</h6>
          <p><i class="fas fa-home me-3"></i>
            <a href="/" style="color: inherit !important;">Início</a></p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a href="/login" style="color: inherit !important;">Login</a>
          </p>
          <p><i class="fas fa-phone me-3"></i>
           <a href="/login" style="color: inherit !important;">Cadastro</a>
          <p><i class="fas fa-print me-3"></i>
            <a href="/sobrenos" style="color: inherit !important;">Sobre Nós</a>
        </div>
        <!-- Colunas -->
      </div>
      <!-- Colunas -->
    </div>
  </section>
  <!-- Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="/">brenohelloworld.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer Fechamento -->



<script src="js/produtos.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>